<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@ViewBag.Title - Kết nối trẻ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/Header-footer.css" rel="stylesheet" />
    <link href="~/Content/Trangchu.css" rel="stylesheet" />
    <link href="~/Content/Dichvu.css" rel="stylesheet" />
    <link href="~/Content/Gioithieu.css" rel="stylesheet" />
    <link href="~/Content/Dichvu-Thietkewebsite.css" rel="stylesheet" />
    <link href="~/Content/Dichvu-Thietkephanmem.css" rel="stylesheet" />
    <link href="~/Content/Dichvu-Marketingonline.css" rel="stylesheet" />
    <link href="~/Content/Dichvu-Dichvukhac.css" rel="stylesheet" />
    <link href="~/Content/Thietkewebsite-Trangcon.css" rel="stylesheet" />
    <link href="~/Content/Thietkephanmem-Trangcon.css" rel="stylesheet" />
    <link href="~/Content/Marketingonline-Trangcon.css" rel="stylesheet" />
    <link href="~/Content/Dichvukhac-Trangcon.css" rel="stylesheet" />

    <script src="~/Scripts/Front/modernizr.custom.js"></script>

    <style>
        .fixed {
            position: fixed;
            top: 0;
            z-index: 1;
        }
    </style>

</head>
<body>
    <header class="header col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--Giao diện desktop-->
        <div class="desktop hidden-xs hidden-sm col-md-12 col-lg-12">

            <!--Logo-->
            <a href="#" class="logo col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
                <img src="~/images/logo-jsc.png" class="col-md-2 col-lg-2" />
                <p class="col-md-10 col-lg-10">
                    Kết nối trẻ JSC <br />
                    <span>Cùng hợp tác - Cùng thành công</span>
                </p>
            </a>

            <!--Menu - Cho trang chủ-->
            <div class="menu col-md-7 col-lg-7">

                <!--Dòng menu 1-->
                <div class="menu-1 col-md-12 col-lg-12">
                    <ul>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Kho giao diện</a></li>
                        <li><a href="#">Bảng giá</a></li>
                    </ul>
                    <form class="search">
                        <input type="text" placeholder="Tìm kiếm" />
                        <a href="#" class="button">Search</a>
                    </form>
                    <a href="tel:0914156668" class="phone">
                        <em></em>
                        091.415.6668
                    </a>
                </div>

                <!--Dòng menu 2-->
                <ul class="menu-2 col-md-12 col-lg-12">
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("Service","Home")">Dịch vụ</a></li>
                    <li><a href="@Url.Action("About","Home")">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#" class="suicide">Đăng kí tư vấn</a></li>
                </ul>
            </div>

            <!--Dòng menu 3 - Menu thêm cho phần dịch vụ-->
            <div class="menu-3 col-sm-12 col-md-12 col-lg-12">
                <p class="col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-2">Dịch vụ</p>
                <ul class="col-md-8 col-lg-8">
                    <li class="col-md-3 col-lg-3"><a href="@Url.Action("SvThietkewebsite","Home")">Thiết kế website</a></li>
                    <li class="col-md-3 col-lg-3"><a href="@Url.Action("SvThietkephanmem","Home")">Thiết kế phần mềm</a></li>
                    <li class="col-md-3 col-lg-3"><a href="@Url.Action("SvMarketingonline","Home")">Marketing Online</a></li>
                    <li class="col-md-3 col-lg-3"><a href="@Url.Action("SvDichvukhac","Home")">Dịch vụ khác</a></li>
                </ul>
            </div>

            <!--Dòng menu 4 - Menu thêm cho các trang con của phần dịch vụ-->
            <div class="menu-4 col-md-12 col-lg-12">
                <ul class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <li><a href="@Url.Action("WsNhahang","Home")">Website<br />nhà hàng</a></li>
                    <li><a href="@Url.Action("WsKhachsan","Home")">Website<br />khác sạn</a></li>
                    <li><a href="@Url.Action("WsSpa","Home")">Website<br />Spa - Beauty</a></li>
                    <li><a href="@Url.Action("WsBanhang","Home")">Website<br />bán hàng</a></li>
                    <li><a href="@Url.Action("WsTintuc","Home")">Website<br />tin tức</a></li>
                    <li><a href="@Url.Action("WsCongty","Home")">Website<br />công ty</a></li>
                    <li><a href="@Url.Action("WsDichvu","Home")">Website<br />dịch vụ</a></li>
                </ul>
            </div>
        </div>

        <!--Giao diện mobile & tablet-->
        <div class="mobile hidden-md hidden-lg" style="z-index: 10;">
            <a href="@Url.Action("Index","Home")" class="logo">
                <img src="~/images/logo-jsc.png" />
                <p>
                    Kết nối trẻ JSC <br />
                    <span>Cùng hợp tác - Cùng thành công</span>
                </p>
            </a>
            <nav id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger">Open Menu</button>
                <div>
                    <a href="tel:0914156668" class="phone">091.415.6668</a>
                    <a href="#" class="search">"Tìm kiếm"</a>
                </div>
                <ul class="dl-menu">
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li>
                        <a href="@Url.Action("Service","Home")">Dịch vụ</a>
                        <ul class="dl-submenu">
                            <li><a href="@Url.Action("SvThietkewebsite","Home")">Thiết kế website</a></li>
                            <li><a href="@Url.Action("SvThietkephanmen","Home")">Thiết kế phần mềm</a></li>
                            <li><a href="@Url.Action("SvMarketingonline","Home")">Marketing Online</a></li>
                            <li><a href="@Url.Action("SvDichvukhac","Home")">Dịch vụ khác</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index","Home")">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="hidden-xs hidden-sm col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
            <a class="col-md-12">
                <span class="fb-icon col-md-3"></span>
                <div class="col-md-9">
                    <p class="title">Bấm Like</p>
                    <p class="detail">Để theo dõi tin mới nhất từ chúng tôi</p>
                </div>
            </a>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FKetnoitreJsc%2F%3Ffref%3Dts&width=80&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId" width="80" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        <ul class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("Service","Home")">Dịch vụ</a></li>
            <li><a href="@Url.Action("About","Home")">Giới thiệu</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
    </footer>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/Front/jquery.dlmenu.js"></script>
    <script src="~/Scripts/Front/thietkewebsite-trangcon.js"></script>

    <script>
        $(function () {

            $(window).bind('scroll', function () {
                var navHeight = $('.mobile').height();
                if ($(window).scrollTop() > navHeight) {
                    $('#dl-menu').addClass('fixed');
                }
                else {
                    $('#dl-menu').removeClass('fixed');
                }
            });

            $('#dl-menu').dlmenu({
                animationClasses: { classin: 'dl-animate-in-5', classout: 'dl-animate-out-5' }
            });
        });
    </script>
</body>
</html>
